Django~=3.2
djangorestframework~=3.13
django-filter~=21.1
django-model-utils~=4.2.0
django-extensions~=3.1.5
pytest~=7.1.1
black~=22.1
isort~=5.10
pre-commit~=2.17
djangorestframework_simplejwt~=5.1
django-ordered-model~=3.5
drf-yasg~=1.20
pytest-django~=4.5
factory_boy~=3.2.1
django-environ~=0.8.1
celery~=5.2.3
Redis~=4.2.0
django-invitations~=1.9.3
django-annoying~=0.10.6
django-taggit~=2.1
pytest-mock~=3.7
django-sql-utils==0.6.1
djangorestframework-dataclasses~=1.1.1
django-nested-admin~=3.4
psycopg2-binary
